<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pirates</h1>

    <ul>

    <% @pirates.each do |pirate| %>
      <li>Name:<%= pirate.name %></li>
      <li>Weight:<%= pirate.weight %></li>
      <li>Height:<%= pirate.height %></li>
      <%end%>

    </ul>


   </body>
</html>
