<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Inscribe a new Pirate and his ship!</h1>
    <form action="/pirates" method="post">
    <lable for="pirate_name"> Pirate`s name: <input type="text" id="pirate_name" name= "pirate[name]"></lable>

    <lable for="pirate_weight"> Pirate`s weight: <input type="text" id="pirate_weight" name= "pirate[weight]"></lable>

    <lable for="pirate_height"> Pirate`s height: <input type="text" id="pirate_hight" name= "pirate[height]"> </lable>

    <label for="ship_name_1">Ship name:<input type="text" name="pirate[ships][][name]" id="ship_name_1"></label>

    <label for="ship_type_1">Ship type:<input type="text" name="pirate[ships][][type]" id="ship_type_1"></label>

    <label for="ship_booty_1">Ship booty:<input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></label>

    <label for="ship_name_2">Ship name:<input type="text" name="pirate[ships][][name]" id="ship_name_2"></label>

    <label for="ship_tpe_2">Ship type:<input type="text" name="pirate[ships][][type]" id="ship_type_2"></label>

    <label for=ship_booty_2>Ship booty:<input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></label>



    <!-- <input type="text" id="pirate_name" name= "pirate[name]">
    <lable> Pirate`s weight: <input type="text" name="weight" value=""></lable>
    <lable> Pirate`s height: <input type="text" name="height" value=""></lable>
    <lable> Pirate`s ship name: <input type="text" name="ship_name" value=""></lable>
    <lable> Pirate`s ship type: <input type="text" name="ship_type" value=""></lable>
    <lable> Pirate`s ship name: <input type="text" name="ship_booty" value=""></lable>
    <h2> Age: <input type="text" name="age" value=""></h2> -->
      <p><input type="submit"></p>
    </form>


  </body>
</html>
